@font-face {
	font-family: secondFont;
	src: url(fonts/Mayeka.otf);
	font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand_Book.otf);
  font-weight:bold;
}

#topbar {
	width: auto;
	height: 50px;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

/* Style the search bar */
#search-bar {
	height: 30px;
	width: 250px;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 14px;
	font-family: Quicksand;
}

#search-bar-submit {
	height: 30px;
	width: 65px;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 14px;
}

/* Style the select option lists */
#select-movie-type, #format-select {
	font-family:Quicksand;
	height: 30px;
	width: 150px;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 14px;
}

#submit-search {
	height: 30px;
	width: 65px;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 14px;
	font-family:Quicksand;
}

#submit-search:hover {
	background-color: #00bfff;
	cursor:pointer;
}

/* Style the button */
#add-movie {
	height: 30px;
	width: 100px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #00bfff;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-family:Quicksand;
}

/* Style the text in the middle of the bar */
#text {
	font-size: 20px;
	margin: 0 10px;
	font-family: secondFont;
}

body {
	margin: 0;
	padding: 0;
}